<p>
  The header fields are transmitted after the request line (in case of a request HTTP
  message) or the response line (in case of a response HTTP message), which is the first
  line of a message. Header fields are colon-separated key-value pairs in clear-text
  string
  format, terminated by a carriage return (CR) and line feed (LF) character sequence. The
  end of the header section is indicated by an empty field(line), resulting in the
  transmission of two consecutive CR-LF pairs. In the past, long lines could be folded
  into
  multiple lines; continuation lines are indicated by the presence of a space (SP) or
  horizontal tab (HT) as the first character on the next line. This folding is now
  deprecated.</p>
