<p>
  In typography and word processing, the page footer (or simply footer) of a printed page
  is a section located under the main text, or body. Traditionally it was and still is
  the
  space for the page number. In the earliest printed books also it contained the first
  words of the next page; in this case they preferred to place the page number in the
  page
  header, in the top margin. Because of the lack of a set standard, in modern times the
  header and footer are sometimes interchangeable. In some instances, there are elements
  of
  the header inserted into the footer, such as the book or chapter title, the name of the
  author or other information. In the publishing industry the page footer is
  traditionally
  known as the running foot, whereas the page header is the running head.

  The footer is also sometimes the space reserved for the notes, known as footnotes.
  These
  footnotes are distinguished from the notes placed at the end of a chapter or book.
  While
  in some cases the footer space is generally fixed, when footnotes are added, the space
  will increase or decrease based on the amount and length of the notes.</p>
