<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="title">
    Pegasus
  </h1>
  <div class="container">
    <a routerLink="/doctor"><button type="button" class="btn btn-danger">Doctor</button></a>
    <a routerLink="/patient"><button type="button" class="btn btn-primary">Patient</button></a>
    <a routerLink="/header"><button type="button" class="btn btn-success">Header</button></a>
    <a routerLink="/footer"><button type="button" class="btn btn-warning">Footer</button></a>
    <a routerLink="/about"><button type="button" class="btn btn-warning">Posts</button></a>
    <a routerLink="/contact"><button type="button" class="btn btn-info">Contact</button></a>
  </div>

  <div class="border-body">
    <router-outlet></router-outlet>
  </div>
